<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>
</head>

<body>
  <main>
    <div>
      <nav>
        <ol>
          <li><a href="/receipts/accounts">Account List</a></li>
          <li><a href="/receipts/categories">Category List</a></li>
          <li><a href="/receipts/accounts/create">Create Account</a></li>
          <li><a href="/receipts/categories/create">Create Category</a></li>
        </ol>
      </nav>
      <h1>Create Account</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
          Create
        </button>
      </form>
    </div>
  </main>
</body>

</html>
