<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense List</title>
</head>

<body>
  <main>
    <div>
      <nav>
        <ol>
          <li><a href="/receipts/accounts">Account List</a></li>
          <li><a href="/receipts/categories">Category List</a></li>
          <li><a href="/receipts/accounts/create">Create Account</a></li>
          <li><a href="create">Create Category</a></li>
        </ol>
      </nav>
      <h1>Expense List</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of receipts</th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.receipts.all|length }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>
