<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav>
    <ol>
      <li><a href="account.html">Account List</a></li>
      <li><a href="categories.html">Category List</a></li>
      <li><a href="accounts/create.html">Create Account</a></li>
      <li><a href="categories/create.html">Create Category</a></li>
    </ol>
  </nav>
  <main>
    <div>
      <h1>Create Receipt</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">
          Create
        </button>
      </form>
    </div>
  </main>
</body>

</html>
