<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receipt Table</title>
</head>

<body>
  <nav>
    <ol>
      <li><a href="accounts">Account List</a></li>
      <li><a href="categories">Category List</a></li>
      <li><a href="accounts/create">Create Account</a></li>
      <li><a href="categories/create">Create Category</a></li>
    </ol>
  </nav>
  <main>
    <h1>My Receipts</h1>
    <table>
      <thead>
        <tr>
          <th>Vendor</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Category</th>
          <th>Account</th>
        </tr>
      </thead>
      <tbody>
        {% for receipt in receipts %}
        <tr>
          <td>{{ receipt.vendor }}</td>
          <td>{{ receipt.total }}</td>
          <td>{{ receipt.tax }}</td>
          <td>{{ receipt.date|date:"m/d/y" }} </td>
          <td>{{ receipt.category.name }}</td>
          <td>{{ receipt.account.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</body>

</html>
