<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accounts Info</title>
</head>

<body>
  <main>
    <div>
      <h1>Login</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">
          Login
        </button>
      </form>
    </div>
  </main>
</body>

</html>
